/* loader.css */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0a192f; /* Dark background */
  }
  
  .loader-logo {
    width: 100px; /* Adjust size as needed */
    height: 100px;
    animation: draw 1.6s linear forwards; /* Adjust the duration */
}
  
  @keyframes draw {
    0% {
      stroke-dasharray: 0, 100; /* Match the path length */
    }
    100% {
      stroke-dasharray: 100, 0; /* Match the path length */
    }
  }
  